---
import BaseLayout from "../layouts/base.astro";

import Skill from "../components/skills/item.astro";
import ExperienceItem from "../components/experience/item.astro";
import EducationItem from "../components/education/item.astro";

import {education} from "../data/education";
import {experience} from "../data/experience";
import {skills} from "../data/skills";
---

<BaseLayout title="SY | Home">
  <section class="title-block">
    <h4 class="title-secondary">Web Developer / Musician</h4>
    <h1 class="title-primary">Serhii Yahdzhyiev</h1>
    <span class="title-age" data-type="age"></span>
  </section>
  <section class="bio">
    <h3 class="section-title">Bio</h3>
    <p class="bio-text">
      Born on November 11<sup>th</sup>, 1994 in Dnipro(UA). Got basic
      education at Dnipro's General (elementary, middle and high combined)
      School #22. In 2012 went to Odessa(UA) to get musical education at
      Odessa National College of Arts and Culture. Graduated in 2016.<br /><br />The
      same year started the mandatory military service period (18 month)
      in Lviv(UA). Served as a gunner in Ukrainian National Guard
      (Military Police). Carried out escorting and guarding defendants and
      convicts in the courtrooms as part of the guard. Was transferred to
      the reserve in December 2017.<br /><br />In 2018 moved back to
      Odessa, worked as freelance musician doing gigs and cruse ship
      contracts. With the start of global COVID-19 pandemic changed
      occupation. Starting from July 2020 became member of Periodix.Net
      team as a lead generation specialist. In March 2021 got the position
      of Junior Front-End Developer in the same company.
    </p>
  </section>
  <section id="edu">
    <h3 class="section-title">Education</h3>
    {
      education?.toReversed().map(ed => (
        <EducationItem
          title={ed.title}
          degree={ed.degree}
          period={ed.period}
        />
      ))
    }
  </section>
  <section id="exp">
    <h3 class="section-title">Work Experience</h3>
    {experience?.toReversed().map(item => 
      (
      <ExperienceItem
        company={item.company}
        title={item.title}
        period={item.period}
        list={item.list}
      />
      )
    )}
  </section>
  <section id="skills">
    <h3 class="section-title">Skills</h3>
    <div class="skills-section">
      <h4 class="skills-section-title">Musical</h4>
      <div class="skills-row" id="musical">
        {
          skills.musical.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
    <div class="skills-section">
      <h4 class="skills-section-title">Web Development</h4>
      <div class="skills-row" id="development">
        {
          skills.development.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
    <div class="skills-section">
      <h4 class="skills-section-title">Languages</h4>
      <div class="skills-row" id="languages">
        {
          skills.languages.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
  </section>
  <section id="links">
    <h3 class="section-title">Links</h3>
    <div class="links-section">
      <h4 class="links-section-title">Contacts</h4>
      <div class="links-row">
        <a
          href="tel:+4901603261013"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fas fa-phone-alt"></i>+49-(0)160-326-19-13</a
        >
        <a
          href="mailto:mr.blooods@gmail.com"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fas fa-envelope"></i>mr.blooods@gmail.com</a
        >
        <a
          href="https://t.me/MrBloods"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fab fa-telegram"></i>Telegram</a
        >
      </div>
    </div>
    <div class="links-section">
      <h4 class="links-section-title">Social</h4>
      <div class="links-row">
        <a
          href="https://soundcloud.com/sy1994"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fab fa-soundcloud"></i>SoundCloud</a
        >
        <a
          href="https://www.youtube.com/channel/UC0kVfzH0_MTFu8Pkur8aHZg"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fab fa-youtube"></i>YouTube</a
        >
        <a
          href="https://github.com/SergeyYahdzhyiev"
          target="_blank"
          rel="noreferrer"
          class="link"
          ><i class="fab fa-github"></i>Github</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
