---
import BaseLayout from "../layouts/base.astro";

const skills = {
  musical: [
    {
      title: 'Sight-Reading',
      level: 60,
    },
    {
      title: 'Sound Production',
      level: 60,
    },
    {
      title: 'Composition & Arrangement',
      level: 75,
    },
    {
      title: 'Keys',
      level: 60,
    },
    {
      title: 'Guitar/Bass',
      level: 65,
    },
    {
      title: 'Drums & Percussion',
      level: 95,
    },
  ],
  development: [
    {
      title: 'Python',
      level: 60,
    },
    {
      title: 'Git/GitHub/GitLab',
      level: 60,
    },
    {
      title: 'HTML/CSS/SASS',
      level: 70,
    },
    {
      title: 'Oracle Cloud',
      level: 50,
    },
    {
      title: 'jQuery',
      level: 50,
    },
    {
      title: 'Webpack',
      level: 50,
    },
    {
      title: 'MongoDB',
      level: 40,
    },
    {
      title: 'Node.js',
      level: 55,
    },
    {
      title: 'Redux',
      level: 50,
    },
    {
      title: 'React',
      level: 65,
    },
    {
      title: 'TypeScript',
      level: 55,
    },
    {
      title: 'JavaScript',
      level: 75,
    },
  ],
  languages: [
    {
      title: 'German',
      level: 25,
    },
    {
      title: 'French',
      level: 10,
    },
    {
      title: 'English',
      level: 90,
    },
    {
      title: 'Russian',
      level: 100,
    },
    {
      title: 'Ukrainian',
      level: 100,
    },
  ],
};
---

<BaseLayout title="SY | Home">
  <section id="skills">
    <h3 class="section-title">Skills</h3>
    <div class="skills-section">
      <h4 class="skills-section-title">Musical</h4>
      <div class="skills-row" id="musical">
        {
          skills.musical.map(skill => (
            <div class="skill-block">
              <h6 class="skill-title">{skill.title}</h6>
              <div class="skill-level-row">
                <span class="skill-level-label">Basic</span>
                <progress value={skill.level} max="100" class="skill-level"></progress>
                <span class="skill-level-label">Expert</span>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="skills-section">
      <h4 class="skills-section-title">Web Development</h4>
      <div class="skills-row" id="development">
        {
          skills.development.map(skill => (
            <div class="skill-block">
              <h6 class="skill-title">{skill.title}</h6>
              <div class="skill-level-row">
                <span class="skill-level-label">Basic</span>
                <progress value={skill.level} max="100" class="skill-level"></progress>
                <span class="skill-level-label">Expert</span>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="skills-section">
      <h4 class="skills-section-title">Languages</h4>
      <div class="skills-row" id="languages">
        {
          skills.languages.map(skill => (
            <div class="skill-block">
              <h6 class="skill-title">{skill.title}</h6>
              <div class="skill-level-row">
                <span class="skill-level-label">Basic</span>
                <progress value={skill.level} max="100" class="skill-level"></progress>
                <span class="skill-level-label">Expert</span>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
