---
import CVLayout from "../../layouts/cv.astro";
import ExperienceItem from "../../components/experience/item.astro";
import {experience} from "../../data/experience";
---

<CVLayout title="SY | Experience">
  <section id="exp">
    <h2>Work Experience</h2>
    {experience?.toReversed().map(item => 
      (
      <ExperienceItem
        company={item.company}
        title={item.title}
        period={item.period}
        list={item.list}
      />
      )
    )}
  </section>
</CVLayout>
