---
import CVLayout from "../../layouts/cv.astro";
import Skill from "../../components/skills/item.astro";
import {skills} from "../../data/cv/skills";
---
<CVLayout title="SY | Skills">
  <section id="skills">
    <h2>Skills</h2>
    <div>
      <h3>Musical</h3>
      <div id="musical">
        {
          skills.musical.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
    <div>
      <h3>Software Development</h3>
      <div id="development">
        {
          skills.development.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
    <div>
      <h3>Languages</h3>
      <div id="languages">
        {
          skills.languages.map(skill => (
            <Skill title={skill.title} level={skill.level}/>
          ))
        }
      </div>
    </div>
  </section>
</CVLayout>
